<configuration>  
  <system.webServer>
    <handlers>
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\ssankalamadd\AppData\Local\Programs\Python\Python38\python.exe|C:\Users\ssankalamadd\AppData\Local\Programs\Python\Python38\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="run.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\FlaskApplication1\Archive-Stubs-master new" />
	<!-- <add key="WSGI_LOG" value="C:\inetpub\wwwroot\FlaskApplication1\Archive-Stubs-master new\app.log" />-->
  </appSettings>
</configuration>  